@model DSPA_MeAudVis.Web.Data.Entities.Applicant

@{
    ViewData["Title"] = "Delete Applicant";
}

<h2>Delete Applicant</h2>

<h3>Are you sure you want to delete this Applicant?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            User Name
        </dt>
        <dd>
            /
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Debtor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Debtor)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    </form>
</div>
