@model DSPA_MeAudVis.Web.Data.Entities.Material

@{
    ViewData["Title"] = "View Material Details";
}

<h2>View Material Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNum)
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
