@model DSPA_MeAudVis.Web.Data.Entities.Loan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
