@model IEnumerable<DSPA_MeAudVis.Web.Data.Entities.Loan>

@{
    ViewData["Title"] = "Loan's List";
}

<h2>Loan's List</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                Loaned to
            </th>
            <th>
                Loaned by
            </th>
            <th>
                Total Loans
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Applicant.User.UserName==this.User.Identity.Name || item.Intern.User.UserName == this.User.Identity.Name || this.User.IsInRole("Owner") || this.User.IsInRole("Administrator"))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intern.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDetails.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDetails.First().DateTimeOut)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
                @if (this.User.IsInRole("Owner"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                }
            </td>
        </tr>
            }
        }
    </tbody>
</table>

@if (this.User.IsInRole("Intern"))
{
    <p>
        <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
    </p>
}