@model IEnumerable<DSPA_MeAudVis.Web.Data.Entities.Handbook>

@{
    ViewData["Title"] = "Handbooks' List";
}

<h2>Handbooks' List</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
                    @if (this.User.IsInRole("Owner"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (this.User.IsInRole("Owner"))
{
    <p>
        <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
    </p>
}
