@model DSPA_MeAudVis.Web.Data.Entities.Administrator

@{
    ViewData["Title"] = "View Administrator";
}

<h2>View Administrator</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.ImageURL)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.User.ImageURL))
            {
                <img src="@Url.Content(Model.User.ImageURL)" style="width:100px;height:100px" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.RegistrationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.RegistrationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
